/* Center the image and position the close button */
.imgcontainer {
    /*text-align: center;*/
    /*margin: 24px 0 12px 0;*/
    position: relative;
}
.avatar {
    width: 400px;
	height:200px;
    /*border-radius: 50%;*/
}